html, body {
	height:100%;
	background-color: black;
	overflow-y: hidden;
}

/** CONTAINERS **/

	.container {
		width: 100%;
	}

	.single {
		height: 100%;
	}

	.upper {
		margin-top: -2.5%;
		margin-bottom: 5%;
		height: 35%;
	}

	.lower{
		margin-top: 0%;
	}

/** SEPARATOR **/

	hr.symbol {
		padding: 0;
		border: none;
		border-top: medium double white;
		color: white;
		text-align: center;
	}

	hr.symbol:after {
		content: "§";
		display: inline-block;
		position: relative;
		top: -0.7em;
		font-size: 1.5em;
		padding: 0 0.25em;
		background: black;
	}

/** SUBTITLES **/

	.subtitle {
		font-family: sans-serif;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	  	vertical-align: middle;
	}

	.previous{
		color: red;
		font-size: 65px;
	}

	.current {
		color: white;
		font-size: 72px;
	}

	.next{
		color: yellow;
		font-size: 65px;
	}