/**
 * width presents real width instead of 'skinny' width.
 */
* {
    box-sizing: border-box;
}

/**
 * Make sure the webpage fills the entire width and height, without any scrolling. Furthermore, make the background black.
 */
html, body {
	height:100%;
	width:100%;
	background-color: black;
	overflow-y: hidden;
	overflow-x: hidden;
}

/**
 * When there is a separate div containing the translations, give it some margin and padding.
 */
#translations{
	padding-right: 10px;
	margin-right: 5px;
	border-right: 2px solid white;
}

/** CONTAINERS **/
	
	/**
	 * Controller is a horizontal flex container.
	 */
	.controller {
		height:100%;
		display:flex; 
		flex-direction: row;
	}

	/**
	 * Containers are elements that fill their entire parent, and encapsulate flex displaying.
	 */
	.container {
		height:100%;
	}

	/**
	 * When flex displaying multiple elements in column, use space between to justify the content.
	 */
	.multiple {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	/**
	 * When flex displaying a single element in column, center it.
	 */
	.single {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/**
	 * Flex elements should fill the width of the parent.
	 * This element fills the left over height space with multiplier 1.
	 */
	.multiple-elem {
		width: 100%;
		flex: 1;
	}

	/**
	 * Flex elements should fill the width of the parent.
	 * This element fills the left over height space with multiplier 2.
	 */
	.multiple-maxi-elem {
		width: 100%;
		flex: 2;
	}

	/**
	 * Flex elements should fill the width of the parent.
	 * This element fills only the space needed for the element.
	 */
	.multiple-mini-element {
		margin:0px;
		padding:0px;
		width:100%;
	}

/** SEPARATOR **/

	/**
	 * Provides styling for the separator
	 */
	hr.symbol {
		padding: 0;
		border: none;
		border-top: medium double white;
		color: white;
		text-align: center;
		/*min-height: 1.5em;*/
	}

	hr.symbol:after {
		content: "§";
		display: inline-flex;
		position: relative;
		top: -0.7em;
		font-size: 1.5em;
		padding: 0 0.25em;
		background: black;
	}

/** SUBTITLES **/
	/**
	 * Subtitles are text containing elements that:
	 *  - has a sans-serif font 
	 *  - provides some margins left and right, but none on top and bottom.
	 *  - text is centered horizontally and vertically
	 */
	.subtitle {
		font-family: sans-serif;
		margin-left: 5%;
		margin-top:0px;
		margin-right: 5%;
		margin-bottom:0px;
		text-align: center;
	  	vertical-align: middle;
	}

	/**
	 * Subtitles that are past are colored red.
	 */
	.previous{
		color: red;
	}

	/**
	 * Subtitles that are current are colored white.
	 */
	.current {
		color: white;
	}

	/**
	 * Subtitles that are previews are colored yellow.
	 */
	.next{
		color: yellow;
	}

	/**
	 * Depending on the audience of the view, the subtitles size is relevant.
	 */
	.prompter.previous, .slave.previous{
		font-size: 45px;
	}

	.prompter.current, .slave.current{
		font-size: 72px;
	}

	.prompter.next, .slave.next{
		font-size: 45px;
	}

/** PANIC **/
	.panic {
		display:none;
		background:red;
		position:absolute;
		top: 0px;
		right: 0px;
	}